@{
    ViewBag.Title = "Listagem";
}

<div class="jumbotron">
    <h1>Globalização</h1>
    <p class="lead">Globalizando as validações e mensagens do ASP.NET MVC.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Produtos Cadastrados</h2>



    </div>
</div>